body {
  margin: 0px;
  padding: 0px;
  padding-top: 80px;
  font-family: Roboto;
  background-color: beige;
  padding-right: 20px;
  background-color: rgb(249, 249, 249);
  padding-left: 90px;
  height: 1000px;
}

p {
  margin: 0px;
}

a {
  all: unset;
}
