.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 20px;
    row-gap: 30px;

}

.card{
    display: flex;
    flex-direction: column;
    
}

.horizontal{
    display: flex;
    align-items: top;
}

.channel-image{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-left: 5px;
    cursor: pointer;

}

.thumbnail{
    width: 100%;
    cursor: pointer;
}

.video-title, .channel-image{
    margin-top: 8px;
}

.video-info{
    margin-left: 8px;
}

.video-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.channel-name, .video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.channel-name{
    margin-top: 10px;
    cursor: pointer;
}

.video-stats{
    margin-top: 4px;
}

.thumbnail-container{
    position: relative;
}   

.timestamp{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: black;
    padding: 3px;
    font-size: 12px;
    border-radius: 2px;
}

@media (min-width:1000px){
    .video-title{
        font-size: 16px;
        line-height: 24px;
    }

    .channel-name, .video-stats{
        font-size: 14px;
    }
}

@media(max-width:700px) 
{
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:701px) and (max-width:1000px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

