.outer{
    border:1px solid grey;
    width: 250px;
    padding: 5px 10px;
    border-radius: 5px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.no{
    background-color: rgb(0, 94, 255);
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
}