.container{
    display:flex;
    justify-content: space-between;
    background-color: blueviolet;
    align-items: center;
}

p{
    margin: 0px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    font-family: arial;
    margin: 10px 20px;
    font-size:19px
    
}

input{
    padding: 10px;
    flex:1;
    max-width: 600px;
    border-radius: 20px;
    border: none;
    margin-left:80px ;
    margin-right:80px ;
}

button{
    background-color: blueviolet;
    color: white;
    border: 1px solid white;
    padding: 5px 15px;
    margin-right: 10px;
}
